*{
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
}
body{
	margin: 0;
	padding: 0;
	border: 0;
}
#demo-content{
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	width: 100%;
}
.lines:after{
	content: '';
	margin: 0;
	padding: 0;
	border: 0; 
	width: 100%; 
	height: 100%;
	background-image: url('../img/walpaperAfter.png');
	background-size: cover;
	position: absolute;
	top: 0;
}

header{
	margin: 0;
	padding: 0;
	width: 100%;
	height: 85px;
	background-color: rgb(33,33,33);
	position: absolute;
	z-index: 1;
	top: 0;
}
header .studio-404-headerContainer{
	margin: 0;
	padding: 0;
	width: 100%;
	float: left;
}
header .preventlink img{
	margin: 12px 0 0 0;
	padding: 0;
	outline: none;
	text-align: left;
	width: 150px;
	height: 60px;
}
header .studio-404-topMenu ul{
	margin: 0;
	padding: 0;
	outline: 0;
	list-style-type: none;
}
header .studio-404-topMenu ul li{
	margin: 0;
	padding: 0 10px;
	line-height: 80px; 
	float: left;
	text-align: center;
}
main{
	margin: 0;
	padding: 0;
	width: 100%;
}
main .studio-404-Container{
	margin: 0;
	width: 100%;
	position: absolute;
	top: 110px;
	z-index: 1;
}
.message{
	padding-right: 0px !important;
}
.studio-404-workItem{
	margin: 0;
	padding: 10px 10px 0 10px;
	background-color: rgb(255,255,255);
}
.bg,.bgW{
	display: none; 
}
.studio-404-socialNetworks ul{
	margin: 0;
	padding: 0;
	border: 0;
	list-style-type: none;
}

.studio-404-socialNetworks ul li{
	margin: 0; 
	padding: 0 5px; 
	border: 0; 
	line-height: 80px;
	float: right;
}
.studio-404-socialNetworks ul li a{
	margin: 0;
	padding: 0;
	display: block;
}
/*navigation START*/
#navigation{
	display: none;
	width:173px;
  	position: absolute;
	right: 10px;
	top: 28px;
	z-index: 2005;
}
.toggle {
  height: 30px;
  width: 37px;
  cursor: pointer;
  position: relative;
  margin: 0 0 8px 136px;
}

.toggleline {
  margin-bottom: 5px;
  background: #A1A1A1;
  width: 37px;
  height: 5px;
  cursor: pointer;
}

.menu {
  display:none;
}

.menu li {
  list-style-type:none;display:inline;
}

.menu a {
  text-align:center;
  display:block;
  width:100%;
  height:31px;
  text-decoration:none;
  color:#918170;
  padding-top:9px;
  background-color:#E4E4E4;
  border-top:1px solid #FFF;
}

.menu a:hover {
  color:#FFF;
  background-color:#918170;
}
/*navigation END*/
.studio-404-Container-About{
	margin: 0;
	padding: 0;
	width: 100%;
	position: absolute;
	top: 85px;
	z-index: 1;
}
.studio-404-Container-contact{
	margin: 0;
	padding: 0;
	width: 100%;
	position: absolute;
	top: 85px;
	z-index: 1;
}

@media(max-width:480px){ 

}

@media(max-width:768px){ 

}

@media(max-width:992px){ 

}

@media(max-width:1199px){ 
	.studio-404-socialNetworks{
		display: none;
	}
	.studio-404-topMenu{
		display: none;
	}
	#navigation{
		display: block;
	}
}